/* userFeedback.css - 意見回饋表單 */

/* 容器樣式 */
.ufFeedbackContainer {
    background-color: rgba(255, 255, 255, 0.3);
    max-width: 1200px;
    min-width: 700px;
    width: 100%;
    padding: 35px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0px auto;
}

/* 標題樣式 */
.ufFeedbackContainer>h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(95, 56, 20);
}

/* 標籤樣式 */
.ufFeedbackContainer label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(95, 56, 20);
}

/* 輸入框和下拉選單樣式 */
.ufFeedbackContainer input,
.ufFeedbackContainer select {
    font-size: 16px;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(168, 164, 164);
}

/* 多行文字框 (textarea) */
.ufFeedbackContainer textarea {
    font-size: 16px;
    height: 150px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(168, 164, 164);
    box-sizing: border-box;
}

/* 按鈕容器 */
.ufButtonWrapper {
    display: flex;
    justify-content: flex-end;
}

/* 按鈕樣式 */
.ufButtonWrapper button {
    font-size: 14px;
    padding: 8px 110px;
    margin-top: 30px;
    border-radius: 5px;
    color: rgb(95, 56, 20);
    border: 1px solid rgb(168, 164, 164);
    transform: scale(1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

/* 滑鼠經過樣式 */
.ufFeedbackContainer button:hover {
    background-color: rgb(218, 157, 129);
}

/* 點擊按鈕縮小效果 */
.ufFeedbackContainer button:active {
    transform: scale(0.9);
    color: rgb(207, 169, 125);
}

/* 隱藏元素 */
.hidden {
    display: none;
}

/* 成功訊息樣式  */
#ufSuccessMsg {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    color: #4CAF50;
}